/* Estilos para o contêiner principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    min-height: 100vh; /* Garante que o contêiner ocupe a altura total da tela */
    width: 100%;
    background: #222;
    color: #fff;
    text-align: center;
}


.container h2 {
    padding-block: 2rem;
    font-size: 1.5rem; 
    padding-top: 50px;
}


.container img {
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto; 
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}